
.wrapper {
    max-width: 552px;
    width: 100%;
    border-radius: 30px;
    background-color: white;
    padding: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow:auto;
    height: max-content;
    max-height: 100vh;
}

.wrapper h1 {

    font-size: 28px;
}

.text {
    color: #808080;
    font-size: 14px;
    line-height: 24px;
    max-width: 430px;
    width: 100%;
    margin-top: 16px;
}

.addBTN {
    width: 100%;

    font-weight: 500;
    font-size: 16px;
    color: white;
    padding: 16px 0;
    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
    box-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33);
    border-radius: 6px;
    border: none;
    outline: none;
    margin-top: auto;
    margin-bottom: 0;
    transition: 0.2s ease all;
    cursor: pointer;
}

.addBTN:hover {
    transition: 0.2s ease all;
    background: #EA0029;

}

.input_wrapper {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.input_wrapper h2 {

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.input_wrapper button {
    width: max-content;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    color: #EA0029;
    margin-top: 8px;
    transition: 0.2s ease all;
}

.input_wrapper button:hover {
    color: #F53A31;
}

.input_wrapper button:active {
    color: #EA0029;
}

.input_wrapper input {
    border-radius: 3px;
    outline: none;
    border: 1px solid #DFE3E6;
    margin-top: 8px;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 24px;
}

.input_wrapper input:hover {
    border: 1px solid #000000;
}

.input_wrapper input::placeholder {
    color: #BEC5CC;
}

.close {
    position: absolute;
    right: 27px;
    top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.close svg {
    width: 18px;
    height: 18px;
}

.choice_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    width: 100%;
    margin-bottom: 40px;
}

.choice_wrapper h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #000000;

}

.choice_wrapper ul {
    margin-left: 76px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.choice_wrapper li {
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    color: #000000;
    padding: 6px 12px;
    border-radius: 50px;
    background: #EEF0F2;
    transition: 0.2s ease all;
}

.choice_wrapper li:last-child {
    margin-left: 16px;
}

.choice_wrapper li.active {
    background-color: #FF5E56;
    color: white;
}

.error {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #EA0029;
    margin-top: 4px;
}

.error_input {
    border: 1px solid #EA0029 !important;
}


@media only screen and (max-width: 770px) {
    .wrapper {
       max-width: 453px;
    }


}

@media only screen and (max-width: 380px) {
    .wrapper {
        border-radius: 0;
        min-height: 100vh;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 16px;
    }
    .addBTN
    {
        margin-top: auto;
        margin-bottom: 0;
    }
    .close svg {
        width: 12px;
        height: 12px;
    }

    .wrapper h1 {
        font-size: 18px;

    }

    .text {
        font-size: 12px;
        max-width: 300px;
    }

    .choice_wrapper {
        flex-direction: column;
        align-items: flex-start;


    }

    .choice_wrapper ul {
        margin-left: 0;
        margin-top: 24px;
    }

    .choice_wrapper li:last-child {
        margin-left: 8px;
    }


}
